<h1>this is the dashboard page</h1>


{{!-- display the posts only from the user who is logged in 
if they are not logged in, display links to the login page and the create account page--}}

{{#if logged_in}}
<p>this is where the logged in user's posts will be displayed</p>

{{else}}
<a href="/login">login</a>
<a href="/signUp">create account</a>
{{/if}}

